---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "front"
;

//Globals
img {
    width:100%;
    height: auto;
}
//Navigation
.side-nav {
    li:first-child {
        margin: 0 0 120px 0;
        &:hover {
            background-color: #fff;
        }
    }
    li {
        &:hover {
            background-color: #eceff1;
        }
    }
    .ticket {
        color: #fff !important;
        text-shadow: 0px 2px 5px #000;
    }
}
.burger{
    position: absolute;
    z-index: 999;
    font-size: 4em;  
    top: 1vh;
    left: 1vw;
    color: #fff;
    text-shadow: 0px 2px 5px #000;
}
.back {
    position: fixed; 
    bottom: 5vh;
    right: 5vw;
}


header { 
    margin-bottom: 10vh;
}

main {
    position: relative;
    min-height: 50vh;
    margin-bottom: 10vh;
    
    .wrapper {
        padding-left: 11vw;
        @media only screen and (max-width : 992px) {
            padding-left: 0;
        }
    }
    
    .section {
        min-height: 80vh;
    }

    .table-of-contents {
        position: fixed;
        bottom: 10vh;
        right: 0vw;
        width: 10vw;
    }
}

footer {
    min-height: 30vh;
    .row {
        margin-bottom: 0;
    }
}


.element {
    animation: shake 1.2s cubic-bezier(.36,.07,.19,.97) both infinite alternate;
}

@keyframes shake {
  20%, 80% {
    transform: translate3d(-1px, 0, 0);
  }
  
  30%, 70% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 60% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 55% {
    transform: translate3d(2px, 0, 0);
  }
  
}



































