---
layout: default
---
<div class="row">
    <div class="columns">

        {% for post in site.posts %}
            
            <article class="item z-depth-1 hoverable">
                <a href="{{ post.url }}">
                    {% assign foundImage = 0 %}
                    {% assign images = post.content | split:"<img " %}
                    {% for image in images %}
                        {% if image contains 'src' %}
                            {% if foundImage == 0 %}
                                {% assign html = image | split:"/>" | first %}
                                    <img {{ html }} />
                                {% assign foundImage = 1 %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </a>
                <h4 class="truncate">{{ post.title }}</h4>
            </article>

        {% endfor %}

    </div>
</div>
 

