<footer class="blue-grey lighten-4">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l4">
                <a href="#"></a>
            </div>
        </div>
        <div class="row">
            <div class="copyright">
                <div class="col s12 m6 l6">
                   © 2016 Herning Byfestival
                </div>
                <div class="col s12 m6 l6">
                    <a class="right" href="http://mopra.dk" target="_blank">Designet af Morten Pradsgaard</a>
                </div>
            </div>
        </div>
    </div>
</footer>
