<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script src="/assets/js/grid.js"></script>
<script src="/assets/js/masonry.js"></script>
<script src="/assets/js/instafeed.js"></script>
<script>
$(document).ready(function(){ 
    
    $('.button-collapse').sideNav({
        menuWidth: 240,
            edge: 'left'
        }
    );
    
    $('.scrollspy').scrollSpy();
    
});
    
window.onload = function()
{
    new Columninit(); //Starter columns JS skript - Grid
};
</script>