<ul id="slide-out" class="side-nav fixed">
            <li><a href="/"><img src="/assets/img/logo.png" alt="herning byfestival"></a></li>
            <li class="amber darken-2 z-depth-1 hoverable"><a href="https://billetto.dk/da/herning-by-festival" target="_blank" class="ticket">Køb billet</a></li>
    {% for my_page in site.pages %}
        {% if my_page.title %}
            <lI class="hoverable"><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></lI>
        {% endif %}
    {% endfor %}
</ul>
<a href="#" data-activates="slide-out" class="button-collapse hide-on-large-only burger"><i class="mdi-navigation-menu"></i></a>