header {
    background: #000;
    width:100%;
    min-height: 1vh;
    position: relative;
    
    @media only screen and (max-width : 600px) {
        background: #fff;
    }
    
    h1 {
        position: absolute;
        top:20vh;
        left: 40vw;
        color: #fff;
        text-shadow: 0px 2px 5px #000;
    }
    .bar {
        position: absolute;
        z-index: 99;
        bottom: -50px;
        right:0;
        width:45vw;
        padding: 20px;
        color: #fff;
        font-size: 2.5em;
        font-weight: 900;
        @media only screen and (max-width : 992px) {
            width: 80vw;
        }
        @media only screen and (max-width : 600px) {
            font-size: 2em;
            width: 100%;
            bottom: -90px;
            padding: 20px 20px 20px 80px;
        }
    }

#instafeed {
        position: relative;
        padding-left: 240px;
        .row, .col { padding: 0 !important; }
        line-height: 0 !important;
        a {position: relative;}
        @media only screen and (max-width : 992px) {
            padding-left: 0;
        }       

        img {
            width: 100%;
            height: auto;
            opacity: 0.7;
            transition: all 0.2s;
            -webkit-filter: sepia(0.4);
            filter: sepia(0.4);
        }
        a:hover img{
            opacity: 1;  
            -webkit-filter: sepia(0);
            filter: sepia(0);
        }
        a:hover .feedMeta {
            visibility: hidden;
            opacity: 0;
        }
    }

}



//ELASTIC COLUMNS JS // FORSIDE GRID
.columns
{
position : relative;
left: 0;
right: 0;
top: 76px;
bottom: 0;
z-index: 1;
}

.columns .item
{
position: relative;
display:none;
border-radius : 3px;
overflow :hidden;
line-height: 0;
}

.columns .item h4
{
width:100%;
position: absolute;
bottom: 0;left: 0;
color:  #fff;
text-shadow: 0px 2px 5px #000;
font-weight: 500;
font-size: 18px;
padding: 10px 10px 0 10px;
}

.columns .item img
{
    width: 100%;
    -webkit-filter: grayscale(0.8);
    filter: grayscale(0.2);
    transition: all 0.2s;
    
    &:hover {
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
    }
}